################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.config
*.vsidx
*.suo
*.v2
/.vs
/.vs/ProjectEvaluation/carnacode-balta-2024-desafio-02.metadata.v7.bin
/.vs/ProjectEvaluation/carnacode-balta-2024-desafio-02.projects.v7.bin
