################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.config
*.vsidx
*.suo
*.v2
/.vs
