* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 15px;
}

    .head .logo img {
        width: 100%;
    }

    .head .logo {
        margin-bottom: 15px;
        width: 30%;
        border-radius: 10px;
        border: 3px solid #45FEFE;
    }

input {
    width: 100%;
    height: 40px;
    border: 1px solid #BDBDBD;
    outline: none;
    border-radius: 30px;
    background-color: #F6F6F6;
    padding: 0px 10px;
}

    input::placeholder {
        color: #BDBDBD;
    }

.history {
    padding: 10px;
}

.card {
    display: flex;
    height: auto;
    margin-top: 20px;
}

    .card .cardLogo {
        width: 20%;
        display: flex;
        flex-direction: column;
        padding: 8px;
    }

    .card .cardContent {
        width: 80%;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #E8E8E8;
    }

.cardLogo .logo {
    border-radius: 10px;
    background-color: #F6F6F6;
    width: 50px;
    height: 50px;
}

.cardHead {
    display: flex;
    margin: 3px 0px;
}

    .cardHead .title,
    .cardHead .time {
        width: 50%;
    }

    .cardHead .time {
        padding: 0px 5px;
        text-align: end;
        color: #BDBDBD;
    }

.card .text {
    font-size: 13px;
    margin: 3px 0px;
    margin-bottom: 10px;
}


@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
    .history {
        justify-content: center;
        align-items: center;
        display: flex;
    }

        .history .container {
            width: 60%;
        }

    .head .logo {
        width: 10%;
    }

    .history .container .cardLogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
    .head {
        margin: 30px;
    }
}

@media only screen and (min-width: 1200px) {
}
