@page "/historico"
<div class="head">
    <div class="logo">
        <img src="icon-no-bg.png" alt="">
    </div>
    <h2>Historico</h2>
</div>
<div class="history">
    <div class="container">
        <input type="text" placeholder="Pesquisar...">
        <div class="card">
            <div class="cardLogo">
                <div class="logo"></div>
            </div>
            <div class="cardContent">
                <div class="cardHead">
                    <div class="title">Peso ideal ✅</div>
                    <div class="time">8m atras</div>
                </div>
                <div class="text">
                    <p>Parabéns, você está no seu peso ideal, continue mantendo este estilo!</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="cardLogo">
                <div class="logo"></div>
            </div>
            <div class="cardContent">
                <div class="cardHead">
                    <div class="title">Sobrepeso ⛔</div>
                    <div class="time">12/10/2023</div>
                </div>
                <div class="text">
                    <p>Estamos quase lá! Faça alguns ajustes para ficar no peso ideal!</p>
                </div>
            </div>
        </div>
    </div>
</div>

            @code{
                List<CalculoIMC> iMCs = new List<CalculoIMC>();


            }