@page "/"
@inject IJSRuntime jsRuntime

<div class="container-calculator-imc">
    <h2 class="container-h2">Cálculo de IMC</h2>
 
        <div class="form-group-calculator-imc">

            <input type="number" step="0.01" id="altura" name="altura" required placeholder="Altura"
                   class="form-group-input-login"
                   @bind="imc.Altura">
        </div>
        <div class="form-group-calculator-imc">

            <input type="number" step="0.1" id="peso" name="peso" placeholder="Peso" required
                   @bind="imc.Peso">
        </div>
        <div class="form-group-calculator-imc">

            <select id="sexo" name="sexo" required class="form-group-calculator-imc-input-checkbox"
                    @bind="imc.TipoSexo">
                <option value="" disabled selected hidden> Sexo</option>
                <option value="masculino">Masculino</option>
                <option value="feminino">Feminino</option>
            </select>
        </div>
        <div class="form-group-calculator-imc">
            <label class="input-checkbox">
                <input type="checkbox" id="mais65" name="mais65" @bind="imc.SessentaECincoAnosOuMais"> Eu tenho 65 anos ou mais
            </label>
        </div>
        <div class="form-group-calculator-imc ">
            <input type="button" value="Calcular meu IMC" class="calculator-imc-btn-radius"
                   @onclick="CalcularIMC">
            <input type="button" value="Entenda o cálculo" class="calculator-imc-btn-radius">
        </div>
 
</div>

@* 1- Tem duas Modals, poderia ser usada a mesma Modal para se passar as mensagens, 
o que mudaria é o conteudo *@

@* 2 - Os valores não estavam sendo passados pois cê não acessou a varial usando arroba (@) *@
<Modal Mostrar=@mostrarModal
       FraseModal=@fraseModal
       TituloModal=@tituloModal></Modal>


@* <Modal Mostrar=mostrarAlertaModal
       FraseModal="fraseAlerta"
       TituloModal="tituloAlerta"></Modal> *@
@code {
    private string chave = "imcs";
    CalculoIMC imc = new CalculoIMC();
    bool mostrarModal = false;
    public List<CalculoIMC> listaImcs = new List<CalculoIMC>();


    public string fraseModal { get; set; }
    public string tituloModal { get; set; }

    protected override async Task OnInitializedAsync()
   {
        await PegarListaIMC();
    }
    async void CalcularIMC()
    {
        if (imc.Altura > 0 && imc.Peso > 0)
        {
            CalculaIMc();
            InsereClassificaoImc();
            await jsRuntime.InvokeVoidAsync("MostrarModal");
            await GuardaImcNaLista();

        }
        else
        {
            await jsRuntime.InvokeVoidAsync("MostrarModal");
            tituloModal = "⛔ Ops!";
            fraseModal = "Altura e peso precisam ser maior que 0";
            Console.WriteLine($"Mostrar Modal = {mostrarModal}");
            StateHasChanged();
        }
    }

    void CalculaIMc() =>
        imc.ResultadoIMC = imc.Peso / (imc.Altura * imc.Altura);


    void InsereClassificaoImc()
    {
        if (imc.SessentaECincoAnosOuMais)
        {
            if (imc.ResultadoIMC < 22)
            {
                imc.EnumClassicacaoIMC = EnumClassicacaoIMC.AbaixoDoPeso;
                fraseModal = "Você é mais forte do que pensa. Lembre-se de cuidar bem do seu corpo para alcançar seu melhor estado de saúde";
                tituloModal = "✅ Você esta abaixo do peso ";

            }
            else if (imc.ResultadoIMC >= 22 && imc.ResultadoIMC < 27)
            {
                imc.EnumClassicacaoIMC = EnumClassicacaoIMC.PesoNormal;
                fraseModal = "Parabéns! Seu esforço em manter um peso saudável está dando resultados. Continue se alimentando bem e se exercitando regularmente";
                tituloModal = "✅ Você esta com peso normal ";
            }
            else if (imc.ResultadoIMC >= 27 && imc.ResultadoIMC < 30)
            {
                imc.EnumClassicacaoIMC = EnumClassicacaoIMC.SobrePeso;
                fraseModal = "Você é capaz de alcançar seus objetivos de saúde. Pequenas mudanças podem fazer uma grande diferença. Estou aqui para apoiá-lo.";
                tituloModal = "⛔ Você esta com Sobrepeso ";
            }
            else if (imc.ResultadoIMC >= 30 && imc.ResultadoIMC < 35)
            {
                imc.EnumClassicacaoIMC = EnumClassicacaoIMC.Obesidade1;
                fraseModal = "Você não está sozinho nessa jornada. Com determinação e apoio, você pode superar esse desafio. Estou aqui para ajudar";
                tituloModal = "⛔ Você esta com Obesidade classe I ";
            }
            else if (imc.ResultadoIMC >= 35 && imc.ResultadoIMC < 40)
            {
                imc.EnumClassicacaoIMC = EnumClassicacaoIMC.Obesidade2;
                fraseModal = "Você está no caminho certo para alcançar uma saúde melhor. Cada pequena vitória importa. Mantenha-se firme em seu compromisso consigo mesmo";
                tituloModal = "⛔ Você esta com Obesidade classe II ";
            }
            else if (imc.ResultadoIMC >= 40)
            {
                imc.EnumClassicacaoIMC = EnumClassicacaoIMC.Obesidade3;
                fraseModal = "Você tem a força e a determinação para transformar sua saúde. Peça ajuda quando precisar e lembre-se de que cada passo conta";
                tituloModal = "⛔ Você esta com Obesidade classe III ";
            }
        }
        else
        {
            if (imc.ResultadoIMC < 18)
            {
                imc.EnumClassicacaoIMC = EnumClassicacaoIMC.AbaixoDoPeso;
                fraseModal = "Você é mais forte do que pensa. Lembre-se de cuidar bem do seu corpo para alcançar seu melhor estado de saúde";
                tituloModal = "✅ Você esta abaixo do peso ";
            }
            else if (imc.ResultadoIMC >= 18 && imc.ResultadoIMC < 25)
            {
                imc.EnumClassicacaoIMC = EnumClassicacaoIMC.PesoNormal;
                fraseModal = "Parabéns! Seu esforço em manter um peso saudável está dando resultados. Continue se alimentando bem e se exercitando regularmente";
                tituloModal = "✅ Você esta com peso normal ";
            }
            else if (imc.ResultadoIMC >= 25 && imc.ResultadoIMC < 29)
            {
                imc.EnumClassicacaoIMC = EnumClassicacaoIMC.SobrePeso;
                fraseModal = "Você é capaz de alcançar seus objetivos de saúde. Pequenas mudanças podem fazer uma grande diferença. Estou aqui para apoiá-lo.";
                tituloModal = "⛔ Você esta com Sobrepeso ";
            }
            else if (imc.ResultadoIMC >= 29 && imc.ResultadoIMC < 34)
            {
                imc.EnumClassicacaoIMC = EnumClassicacaoIMC.Obesidade1;
                fraseModal = "Você não está sozinho nessa jornada. Com determinação e apoio, você pode superar esse desafio. Estou aqui para ajudar";
                tituloModal = "⛔ Você esta com Obesidade classe I ";
            }
            else if (imc.ResultadoIMC >= 34 && imc.ResultadoIMC < 39)
            {
                imc.EnumClassicacaoIMC = EnumClassicacaoIMC.Obesidade2;
                fraseModal = "Você está no caminho certo para alcançar uma saúde melhor. Cada pequena vitória importa. Mantenha-se firme em seu compromisso consigo mesmo";
                tituloModal = "⛔ Você esta com Obesidade classe II ";
            }
            else if (imc.ResultadoIMC >= 39)
            {
                imc.EnumClassicacaoIMC = EnumClassicacaoIMC.Obesidade3;
                fraseModal = "Você tem a força e a determinação para transformar sua saúde. Peça ajuda quando precisar e lembre-se de que cada passo conta";
                tituloModal = "⛔ Você esta com Obesidade classe III ";
            }
        }
    }


    async Task GuardaImcNaLista()
    {

        listaImcs.Add(imc);
        var json = JsonSerializer.Serialize(listaImcs);
        await jsRuntime.InvokeVoidAsync("SalvarIMC", json);

        mostrarModal = true;
        await Task.Delay(10000);
        mostrarModal = false;

    }



    private async Task PegarListaIMC()
    {
        string json = await jsRuntime.InvokeAsync<string>("PegaLsitaImc");

        if (!string.IsNullOrEmpty(json))
        {
            listaImcs =  JsonSerializer.Deserialize<List<CalculoIMC>>(json);
        }
        else
        {
            listaImcs = new List<CalculoIMC>();
        }
    }



}